_Lambda School Data Science_

# Sequence your narrative

Today we will create a sequence of visualizations inspired by [Hans Rosling's 200 Countries, 200 Years, 4 Minutes](https://www.youtube.com/watch?v=jbkSRLYSojo).

Using this [data from Gapminder](https://github.com/open-numbers/ddf--gapminder--systema_globalis/):
- [Income Per Person (GDP Per Capital, Inflation Adjusted) by Geo & Time](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--income_per_person_gdppercapita_ppp_inflation_adjusted--by--geo--time.csv)
- [Life Expectancy (in Years) by Geo & Time](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--life_expectancy_years--by--geo--time.csv)
- [Population Totals, by Geo & Time](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv)
- [Entities](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv)
- [Concepts](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--concepts.csv)

Objectives
- sequence multiple visualizations
- combine qualitative anecdotes with quantitative aggregates

Links
- [Hans Roslingâ€™s TED talks](https://www.ted.com/speakers/hans_rosling)
- [Spiralling global temperatures from 1850-2016](https://twitter.com/ed_hawkins/status/729753441459945474)
- "[The Pudding](https://pudding.cool/) explains ideas debated in culture with visual essays."
- [A Data Point Walks Into a Bar](https://lisacharlotterost.github.io/2016/12/27/datapoint-in-bar/): a thoughtful blog post about emotion and empathy in data storytelling

## Make a plan

#### How to present the data?

Variables --> Visual Encodings
- Income --> x
- Lifespan --> y
- Region --> color
- Population --> size
- Year --> animation frame (alternative: small multiple)
- Country --> annotation

Qualitative --> Verbal
- Editorial / contextual explanation --> audio narration (alternative: text)


#### How to structure the data?

| Year | Country | Region   | Income | Lifespan | Population |
|------|---------|----------|--------|----------|------------|
| 1818 | USA     | Americas | ###    | ##       | #          |
| 1918 | USA     | Americas | ####   | ###      | ##         |
| 2018 | USA     | Americas | #####  | ###      | ###        |
| 1818 | China   | Asia     | #      | #        | #          |
| 1918 | China   | Asia     | ##     | ##       | ###        |
| 2018 | China   | Asia     | ###    | ###      | #####      |

## Upgrade Seaborn

Make sure you have at least version 0.9.0.

In Colab, go to **Restart runtime** after you run the `pip` command.

In [0]:
!pip install --upgrade seaborn

In [1]:
import seaborn as sns
sns.__version__

'0.9.0'

## More imports

In [0]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [0]:
def start():
    options = {
        'display': {
            'max_columns': None,
            'max_colwidth': 25,
            'expand_frame_repr': False,  # Don't wrap to multiple pages
            'max_rows': 50,
            'max_seq_items': 50,         # Max length of printed sequence
            'precision': 4,
            'show_dimensions': False,
            'float_format': lambda x: '%.3f' % x
        },
        'mode': {
            'chained_assignment': None   # Controls SettingWithCopyWarning
        }
    }

    for category, option in options.items():
        for op, value in option.items():
            pd.set_option(f'{category}.{op}', value)  # Python 3.6+

start()

## Load & look at data

In [0]:
income = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--income_per_person_gdppercapita_ppp_inflation_adjusted--by--geo--time.csv')

In [0]:
lifespan = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--life_expectancy_years--by--geo--time.csv')

In [0]:
population = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv')

In [0]:
entities = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv')

In [0]:
concepts = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--concepts.csv')

In [8]:
income.shape, lifespan.shape, population.shape, entities.shape, concepts.shape

((46513, 3), (44370, 3), (59297, 3), (273, 33), (590, 16))

In [9]:
income.head()

   geo  time  income_per_person_gdppercapita_ppp_inflation_adjusted
0  afg  1800                                                603
1  afg  1801                                                603
2  afg  1802                                                603
3  afg  1803                                                603
4  afg  1804                                                603

In [10]:
lifespan.head()

   geo  time  life_expectancy_years
0  abw  1800                  34.42
1  abw  1801                  34.42
2  abw  1802                  34.42
3  abw  1803                  34.42
4  abw  1804                  34.42

In [11]:
population.head()

   geo  time  population_total
0  afg  1800           3280000
1  afg  1801           3280000
2  afg  1802           3280000
3  afg  1803           3280000
4  afg  1804           3280000

In [12]:
pd.options.display.max_columns = 500
entities.head()

,country,alt_5,alternative_1,alternative_2,alternative_3,alternative_4_cdiac,arb1,arb2,arb3,arb4,arb5,arb6,g77_and_oecd_countries,gapminder_list,god_id,gwid,income_groups,is--country,iso3166_1_alpha2,iso3166_1_alpha3,iso3166_1_numeric,iso3166_2,landlocked,latitude,longitude,main_religion_2008,name,pandg,un_state,unicode_region_subtag,upper_case_name,world_4region,world_6region
0,abkh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,others,Abkhazia,GE-AB,i0,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abkhazia,NaN,False,NaN,NaN,europe,europe_central_asia
1,abw,NaN,NaN,NaN,NaN,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,others,Aruba,AW,i12,high_income,True,AW,ABW,533.0,NaN,coastline,12.50000,-69.96667,christian,Aruba,NaN,False,AW,ARUBA,americas,america
2,afg,NaN,Islamic Republic of Afghanistan,NaN,NaN,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,g77,Afghanistan,AF,i1,low_income,True,AF,AFG,4.0,NaN,landlocked,33.00000,66.00000,muslim,Afghanistan,AFGHANISTAN,True,AF,AFGHANISTAN,asia,south_asia
3,ago,NaN,NaN,NaN,NaN,Angola,NaN,NaN,NaN,NaN,NaN,NaN,g77,Angola,AO,i7,upper_middle_income,True,AO,AGO,24.0,NaN,coastline,-12.50000,18.50000,christian,Angola,ANGOLA,True,AO,ANGOLA,africa,sub_saharan_africa
4,aia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,others,Anguilla,AI,i8,NaN,True,AI,AIA,660.0,NaN,coastline,18.21667,-63.05000,christian,Anguilla,NaN,False,AI,ANGUILLA,americas,america

In [13]:
concepts.head()

,concept,color,concept_type,description,description_long,domain,drill_up,indicator_url,name,name_catalog,name_short,scales,source,source_long,source_url,tags
0,adults_with_hiv_percent_age_15_49,NaN,measure,The estimated percentage of adults aged 15 to ...,NaN,NaN,NaN,NaN,"Adults with HIV (%, age 15-49)","Adults with HIV (%, age 15-49)",Adults with HIV,"[""log"", ""linear""]",NaN,NaN,https://www.gapminder.org/gapminder-world/docu...,hiv
1,age_at_1st_marriage_women,NaN,measure,"The mean age, in years, of first marriage for ...",NaN,NaN,NaN,NaN,Age at 1st marriage (women),Age at 1st marriage (women),Age at 1st marriage,"[""linear"", ""log""]",NaN,NaN,https://www.gapminder.org/data/documentation/g...,population
2,aged_15_24_employment_rate_percent,NaN,measure,"Percentage of total population, age group 15-2...",NaN,NaN,NaN,NaN,Aged 15-24 employment rate (%),Aged 15-24,Employment rate (%),"[""linear"", ""log""]",NaN,NaN,https://www.ilo.org/ilostat/,employment_rate
3,aged_15_24_unemployment_rate_percent,NaN,measure,"Percentage of total population, age group 15-2...",NaN,NaN,NaN,NaN,Aged 15-24 unemployment rate (%),Aged 15-24,Unemployment rate (%),"[""linear"", ""log""]",NaN,NaN,https://www.ilo.org/ilostat/,unemployment
4,aged_15_64_labour_force_participation_rate_per...,NaN,measure,"For age group 15-64, percentage of all labour ...",NaN,NaN,NaN,NaN,Aged 15-64 labour force participation rate (%),Aged 15-64,Labour force participation rate (%),"[""linear"", ""log""]",NaN,NaN,https://www.ilo.org/ilostat/,labour_force_participation

In [0]:
csv_dict = {
    'income': 'https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--income_per_person_gdppercapita_ppp_inflation_adjusted--by--geo--time.csv',
    'lifespan': 'https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--life_expectancy_years--by--geo--time.csv',
    'population': 'https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv',
    'entities': 'https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv',
    'concepts': 'https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--concepts.csv'
}

dfs = {}

for k in csv_dict:
  dfs[k] = pd.read_csv(csv_dict[k])

In [19]:
dfs.keys()

dict_keys(['income', 'lifespan', 'population', 'entities', 'concepts'])

## Merge data

https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf

In [20]:
dfs['income'].head()

   geo  time  income_per_person_gdppercapita_ppp_inflation_adjusted
0  afg  1800                       603
1  afg  1801                       603
2  afg  1802                       603
3  afg  1803                       603
4  afg  1804                       603

In [21]:
dfs['lifespan'].head()

   geo  time  life_expectancy_years
0  abw  1800                 34.420
1  abw  1801                 34.420
2  abw  1802                 34.420
3  abw  1803                 34.420
4  abw  1804                 34.420

In [22]:
dfs['population'].head()

   geo  time  population_total
0  afg  1800           3280000
1  afg  1801           3280000
2  afg  1802           3280000
3  afg  1803           3280000
4  afg  1804           3280000

In [26]:
dfs['entities'].head(n=4).T

                                          0            1                         2                    3
country                                abkh          abw                       afg                  ago
alt_5                                   NaN          NaN                       NaN                  NaN
alternative_1                           NaN          NaN  Islamic Republic of A...                  NaN
alternative_2                           NaN          NaN                       NaN                  NaN
alternative_3                           NaN          NaN                       NaN                  NaN
alternative_4_cdiac                     NaN        Aruba               Afghanistan               Angola
arb1                                    NaN          NaN                       NaN                  NaN
arb2                                    NaN          NaN                       NaN                  NaN
arb3                                    NaN          NaN                       NaN                  NaN
arb4                                    NaN          NaN                       NaN                  NaN
arb5                                    NaN          NaN                       NaN                  NaN
arb6                                    NaN          NaN                       NaN                  NaN
g77_and_oecd_countries               others       others                       g77                  g77
gapminder_list                     Abkhazia        Aruba               Afghanistan               Angola
god_id                                GE-AB           AW                        AF                   AO
gwid                                     i0          i12                        i1                   i7
income_groups                           NaN  high_income                low_income  upper_middle_income
is--country                            True         True                      True                 True
iso3166_1_alpha2                        NaN           AW                        AF                   AO
iso3166_1_alpha3                        NaN          ABW                       AFG                  AGO
iso3166_1_numeric                       NaN      533.000                     4.000               24.000
iso3166_2                               NaN          NaN                       NaN                  NaN
landlocked                              NaN    coastline                landlocked            coastline
latitude                                NaN       12.500                    33.000              -12.500
longitude                               NaN      -69.967                    66.000               18.500
main_religion_2008                      NaN    christian                    muslim            christian
name                               Abkhazia        Aruba               Afghanistan               Angola
pandg                                   NaN          NaN               AFGHANISTAN               ANGOLA
un_state                              False        False                      True                 True
unicode_region_subtag                   NaN           AW                        AF                   AO
upper_case_name                         NaN        ARUBA               AFGHANISTAN               ANGOLA
world_4region                        europe     americas                      asia               africa
world_6region           europe_central_asia      america                south_asia   sub_saharan_africa

In [0]:
pd.merge?

In [0]:
df = pd.merge(dfs['income'], dfs['lifespan'])
df = pd.merge(df, dfs['population'])

In [43]:
df_v2 = dfs['income'].merge(dfs['lifespan']).merge(dfs['population'])
df_v2.sample(10)

       geo  time  income_per_person_gdppercapita_ppp_inflation_adjusted  life_expectancy_years  population_total
38908  vnm  1804                       861                                              32.000           6551000
11908  eth  2007                       857                                              58.200          81000409
38526  vct  1860                      1100                                              25.990             32213
24369  mmr  1938                      1240                                              29.760          16056639
39281  vut  1958                      1437                                              48.740             59983
38758  ven  1873                       930                                              32.230           1798492
23680  mkd  1906                      1592                                              36.330            844287
36710  tto  2015                     31283                                              73.070           1360092
27691  nzl  1975                     21566                                              72.170           3082633
17212  irq  1836                      1038                                              31.200           1231018

In [44]:
df.equals(df_v2)

True

In [45]:
dfs['entities'][['country', 'name', 'world_6region']].sample(5)

    country                   name        world_6region
123     jpn                  Japan    east_asia_pacific
202     rou                Romania  europe_central_asia
265     wsm                  Samoa    east_asia_pacific
261     vir  Virgin Islands (U.S.)              america
0      abkh               Abkhazia  europe_central_asia

In [46]:
df = pd.merge(df, dfs['entities'][['country', 'name', 'world_6region']], left_on='geo', right_on='country')
df.head()

   geo  time  income_per_person_gdppercapita_ppp_inflation_adjusted  life_expectancy_years  population_total country         name world_6region
0  afg  1800                       603                                              28.210           3280000     afg  Afghanistan    south_asia
1  afg  1801                       603                                              28.200           3280000     afg  Afghanistan    south_asia
2  afg  1802                       603                                              28.190           3280000     afg  Afghanistan    south_asia
3  afg  1803                       603                                              28.180           3280000     afg  Afghanistan    south_asia
4  afg  1804                       603                                              28.170           3280000     afg  Afghanistan    south_asia

In [0]:
df = df.drop(columns=['geo','country'])

In [48]:
df.head()

   time  income_per_person_gdppercapita_ppp_inflation_adjusted  life_expectancy_years  population_total         name world_6region
0  1800                       603                                              28.210           3280000  Afghanistan    south_asia
1  1801                       603                                              28.200           3280000  Afghanistan    south_asia
2  1802                       603                                              28.190           3280000  Afghanistan    south_asia
3  1803                       603                                              28.180           3280000  Afghanistan    south_asia
4  1804                       603                                              28.170           3280000  Afghanistan    south_asia

In [49]:
col_name_map = {
    'time': 'year', 
    'income_per_person_gdppercapita_ppp_inflation_adjusted': 'income', 
    'life_expectancy_years': 'lifespan', 
    'population_total': 'population', 
    'name': 'country', 
    'world_6region': 'region'
}

df = df.rename(columns=col_name_map)
df.head()

   year  income  lifespan  population      country      region
0  1800     603    28.210     3280000  Afghanistan  south_asia
1  1801     603    28.200     3280000  Afghanistan  south_asia
2  1802     603    28.190     3280000  Afghanistan  south_asia
3  1803     603    28.180     3280000  Afghanistan  south_asia
4  1804     603    28.170     3280000  Afghanistan  south_asia

In [50]:
df.shape

(40437, 6)

## Explore data

## Plot visualization

## Analyze outliers

## Plot multiple years

## Point out a story

# ASSIGNMENT
Replicate the lesson code

# STRETCH OPTIONS

## 1. Animate!
- [Making animations work in Google Colaboratory](https://medium.com/lambda-school-machine-learning/making-animations-work-in-google-colaboratory-new-home-for-ml-prototyping-c6147186ae75)
- [How to Create Animated Graphs in Python](https://towardsdatascience.com/how-to-create-animated-graphs-in-python-bb619cc2dec1)
- [The Ultimate Day of Chicago Bikeshare](https://chrisluedtke.github.io/divvy-data.html) (Lambda School Data Science student)

## 2. Work on anything related to your portfolio site / project